// Variabili cromatiche
$app_bg_color       : rgb(27, 24, 24); 
$search_btn_bg      : lightgray;
$search_btn_color   : darkgray;
$search_btn_bg_hov  : white;
$search_btn_col_hov : blue;
// Variabili dimensionali
$header_height      : 10vh;