// Variabili cromatiche
$app_bg_color       : rgb(38, 36, 36); 
$search_btn_bg      : lightgray;
$search_btn_color   : darkgray;
$search_btn_bg_hov  : white;
$search_btn_col_hov : blue;

$section_header_col : white;
$section_fa_ok      : greenyellow;
$section_fa_bad     : red;  
$warning_color      : red;

$image_border       : white; 
$arrow_color        : white; 
$details_bg_color   : rgb(45, 37, 37); 
$details_title_col  : white;
$star_color         : yellowgreen; 
$overview_bg_color  : lightgray;
$overview_txt_color : black;
$img_hover_border_c : greenyellow;

// Variabili dimensionali
$header_height      : 8vh;
$top_bar_height     : 5vh; 
$footer_height      : 5vh; 
$arrow_area_width   : 5vw; 
$img_per_row        : 7;